#progress-bar-fill {
    width: 0%;
    height: 100%;
    background-color: #86cecb;
    transition: width calc(50s / 1000) linear;
}

#progress-bar {
    width: 100%;
    height: 50px;
    position: relative;
}

#ball {
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(0, -50%);
    pointer-events: none;
    z-index: 12;
}

#ball.bumb {
    animation: bumt 0.1s linear;
}

.lyric {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(0, -50%);
    font-size: 139%;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 1);
    text-wrap: nowrap;
    padding: 5px 10px;
}

#cursor {
    width: 2px;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

#progress-container {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: white;
    overflow: hidden;
}

#controls > div {
    border: 2px solid black;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transform: scaleX(1) scaleY(1);
    transition: all 0.5s cubic-bezier(0.82, -2.52, 0, 2.52);
    z-index: 15;
}

#controls > div:hover {
    transform: scaleX(1.2) scaleY(1.1);
}

#controls {
    display: flex;
    width: calc(90px * 2);
    height: 90px;
    position: absolute;
    bottom: 50px;
}

#play-pause,
#play-play {
    position: absolute;
}

#play-pause {
    transform: scale(0);
}

@keyframes bumt {
    0% {
        transform: translate(0, -50%);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, -50%);
    }
}
